@use 'variables' as *;

body {
    font-family: var(--font-poppins), sans-serif;
    color: $foreground;
    background-color: $background;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: $spacing-2;
}

h1 {
    font-size: 2.5rem;

    @media (min-width: $md) {
        font-size: 3.5rem;
    }
}

h2 {
    font-size: 2rem;

    @media (min-width: $md) {
        font-size: 2.5rem;
    }
}

p {
    line-height: 1.6;
    margin-bottom: $spacing-2;
}